:root{
  --azul : #0059aa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #F8F8F8;
}

#header {
  position: relative;
  width: 100%;
  background: #FFFFFF;
}

#header .social-bar{
  width: 100%;
  /* height: 35px; */
  background-color: var(--azul);
}

.info{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info-contact{
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.info-contact i{
  margin-right: 5px;
}

.info-contact>*{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12px;
}

.social{
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.social a{
  text-decoration: none;
  color: #008ed4;
  background-color: #002e58;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 3px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.social a:hover{
  color: white;
  background-color: #008ed4;
  transition: 0.3s ease-in-out;
}

#header .container {
  width: min(90%, 1200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}

#header .container:nth-child(1){
  padding: 5px 0;
}

.logoecliente {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 60px;
}

.logoecliente img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.logomenu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.logomenu img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.headline {
  position: relative;
  width: min(90%, 900px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #464650;
  text-align: center;
}

.header {
  margin: 5px 0 20px;
  font-size: 18px;
  text-align: center;

  color: #464650;
}

html {
  font-size: 62.5%;
  height: 90vh;
  width: 100vw;
  background:  0059aa;
}

.wrapper {
  background-color: #eee;
  padding-right: 50px;
  height: 250px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 .8rem 2.5rem rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 77px;
}

.wrapper.active {
  height: 300px;
  
}

.wrapper.active .header h1 {
  font-size: 2.5rem;
}

.header-form {
  padding-left: 50px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:    center;
}

.wrapper .header h1 {
  font-size: 3rem;
  text-align: center;
}

.wrapper .header p {
  font-size: 1.6rem;
  margin-bottom: 5px;
  text-align: center;
}

.wrapper .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper .form input {
  background-color: transparent;
  width: 100%;
  outline: none;
  height: 40px;
  margin-bottom: 2rem;
  border: none;
  border-bottom: .1rem solid rgb(42, 147, 218);
}

.wrapper .form input::placeholder{
  padding-left: .5rem;
  color: black;
}

.wrapper .form  button {
  width: 100%;
  height: 40px;
  background-color: rgb(7, 53, 179);
  outline: none;
  border: none;
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
}

.wrapper .form button:hover{
  border: .1rem solid rgb(42, 147, 218);
  color: rgb(42, 147, 218);
  background-color:   transparent;
  font-weight: bolder;
}

.wrapper .qr-code {
  display: none;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 5px;
  pointer-events: none;
  border: 1px solid #ccc;
}

.wrapper .qr-code img {
  width: 170px;
}

.wrapper.active .qr-code{
  display: block;
  transition: all .5s .5s ease;
}